# Python
__pycache__/
*.pyc
*.pyo
.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Capacitor local
frontend/android/app/build/
frontend/android/.gradle/
frontend/android/build/
